{% include "commons/header.html" %}

  <div class="container-fluid">
    <div class="row">
      <!-- 侧边栏 -->
      <div class="col-md-2">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            系统管理
          </a>
          <a href="#" class="list-group-item">博客管理</a>
          <a href="#" class="list-group-item">分类管理</a>
          <a href="#" class="list-group-item">图片仓库</a>
        </div>
      <!-- 侧边栏 -->
    </div>
    <div class="col-md-8 col-md-offset-1">
      {% block body %}
      {% endblock %}
    </div> 
  </div>

 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{url_for('static', filename='components/jquery.min.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='components/bootstrap/js/bootstrap.min.js')}}"></script>
  </body>
</html>