{% include "commons/header.html" %}

  <div class="container">
    <div class="row">
      <!-- 左侧栏目 -->
      <div class="col-md-8">
        {% block body %}{% endblock %}
      </div>
      <!-- 左侧栏目 -->
      <!-- 右侧栏目 -->
      <div class="col-md-3 col-md-offset-1">
        <!-- 个人简介 -->
        <div class="row mgb-30">
          <div class="col-md-12">
            <p>
              <img src="{{url_for('static', filename='images/avatar.jpg')}}" alt="..." class="img-rounded" style="width:180px; height:160px;">  
            </p>
          </div>
          <div class="col-md-12">
            <h4>{{g.admin.username}}</h4>
          </div>
          <div class="col-md-12">
            <ul class="list-unstyled vcard-details">
              <li><span class="glyphicon glyphicon-envelope"></span> {{g.admin.email}}</li>
              <li><span class="text-info">github: </span><a href="#">{{g.admin.github_addr}}</a></li>
            </ul>
          </div>
        </div>
        <!-- 个人简介 -->
        <!-- 统计面板 -->
        <div class="row">
          <!-- 最多阅读 -->
          <div class="row mgb-30">
            <div class="col-md-12">
              <div class="panel panel-warning ">
            <!-- Default panel contents -->
                <div class="panel-heading">最多阅读</div>
                <!-- List group -->
                <ul class="list-group">
                  {% for top_read in g.top_reads %}
                  <li class="list-group-item"><a href="{{ url_for('main.get_blog', id=top_read[0]) }}">{{top_read[1]}}</a><span class="label label-default pull-right">阅读({{top_read[2]}})</span></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- 最多评论 -->
          <div class="row mgb-30">
            <div class="col-md-12">
              <div class="panel panel-danger">
            <!-- Default panel contents -->
                <div class="panel-heading">最多评论</div>
                <!-- List group -->
                <ul class="list-group">
                  {% for top_reply in g.top_replies %}
                  <li class="list-group-item"><a href="{{ url_for('main.get_blog', id=top_reply[0]) }}">{{ top_reply[1] }}</a><span class="label label-default pull-right">评论({{top_reply[2]}})</span></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 统计面板 -->
      </div>
      <!-- 右侧栏目 -->
    </div>
  </div>

 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{url_for('static', filename='components/jquery.min.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{url_for('static', filename='components/bootstrap/js/bootstrap.min.js')}}"></script>
  </body>
</html>