{% extends "commons/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<!-- 文章正文 -->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{blog.title}}</h1>
        </div>
        <ol class="breadcrumb">
          <li><a href="#">{{blog.category.name}}</a></li>
          <li class="active">{{blog.timestamp.strftime('%Y年%m月%d日 %H:%M:%S')}}</li>
          <li class="active">阅读({{blog.read_count}})</li>
          <li class="active">评论({{blog.replies.count()}})</li>

        </ol>
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <img src="{{blog.avatar}}" alt="..." class="img-thumbnail">   
        </div>
        </div>
        <div class="blog-body">
          {{blog.body_html | safe}}  
        </div>   
    </div>
</div>
<!-- 评论列表 -->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h4>评论</h4>
        </div>

        <div class="row">
          <div class="col-md-6">
            {{wtf.quick_form(form)}}
          </div>
        </div> 

        <!-- 评论列表 -->
        <div class="row">
          
          {% for reply in blog.replies.all() %}
          <div class="col-md-6 reply-body">
            <div class="media">
              <a class="media-left" href="#">
                <img src="/static/images/blog_avatars/reply_avatar_{{ reply.avatar }}.jpg" class="img-thumbnail reply-avatar" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{ reply.username }}</h4>
                <p>{{ reply.body }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div> 
{% endblock %}