{% extends "commons/base.html" %}
{% block body %}
<!-- 文章正文 -->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{blog.title}}</h1>
        </div>
        <ol class="breadcrumb">
          <li><a href="#">{{blog.category.name}}</a></li>
          <li class="active">{{blog.timestamp.strftime('%Y年%m月%d日 %H:%M:%S')}}</li>
          <li class="active">阅读({{blog.read_count}})</li>
          <li class="active">评论({{blog.replies.count()}})</li>

        </ol>
        <div class="row">
        <img src="{{blog.avatar}}" alt="..." class="img-thumbnail">
        </div>
        <div class="blog-body">
          {{blog.body_html | safe}}  
        </div>   
    </div>
</div>
<!-- 评论列表 -->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h4>评论</h4>
        </div>

        <!-- 评论列表 -->
        <div class="media">
          <a class="media-left" href="#">
            <img src="..." alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <p>这是评论的内容</p>
          </div>
        </div>
    </div>
</div> 
{% endblock %}