{% extends "commons/base.html" %}
{% block body %}
        <!-- 文章 -->
        <div class="row">
          <div class="row">
            <div class="col-md-12">
                <h3>Flask 基础教程</h3>
            </div>
          </div>
          <div class="row">
            <div class="media">
                <a href="#" class="media-left media-top">
                    <img src="{{url_for('static', filename='images/image1.png')}}" style="width:200px; height:140px;">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        <ol class="breadcrumb">
                          <li><a href="#">Python</a></li>
                          <li class="active">2015年01月12日 22:14:12</li>
                          <li class="active">阅读(12)</li>
                        </ol>
                    </h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p><button type="button" class="btn btn-primary">继续阅读 》</button></p>
                </div>
            </div>
          </div>
        </div>
        <!-- 文章 -->

        <div class="row">
          <div class="row">
            <div class="col-md-12">
                <h3>Flask 基础教程</h3>
            </div>
          </div>
          <div class="row">
            <div class="media">
                <a href="#" class="media-left media-top">
                    <img src="{{url_for('static', filename='images/image1.png')}}" style="width:200px; height:140px;">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        <ol class="breadcrumb">
                          <li><a href="#">Python</a></li>
                          <li class="active">2015年01月12日 22:14:12</li>
                          <li class="active">阅读(12)</li>
                          <li class="active">评论(12)</li>
                        </ol>
                    </h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p><button type="button" class="btn btn-primary">继续阅读 》</button></p>
                </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="row">
            <div class="col-md-12">
                <h3>Flask 基础教程</h3>
            </div>
          </div>
          <div class="row">
            <div class="media">
                <a href="#" class="media-left media-top">
                    <img src="{{url_for('static', filename='images/image1.png')}}" style="width:200px; height:140px;">
                </a>
                <div class="media-body">
                    <h5 class="media-heading">
                        <ol class="breadcrumb">
                          <li><a href="#">Python</a></li>
                          <li class="active">2015年01月12日 22:14:12</li>
                          <li class="active">阅读(12)</li>
                        </ol>
                    </h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p><button type="button" class="btn btn-primary">继续阅读 》</button></p>
                </div>
            </div>
          </div>
        </div>
        <!-- 分页 -->
        <nav class="pull-right">
          <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </nav>
        <!-- 分页 -->
 {% endblock %}